<div class="authentication">
  <div class="login">
    <label for="login">Login</label>
    <input type="text" id="login" name="login" value="" />
  </div>
  <div class="password">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value="" />
  </div>

  <button><span>Save</span></button>
</div>